{% extends 'main.html' %}

{% block content %}
    <p>Add new customer:</p>
    <form method="POST" action="{% url 'customers' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <table>{{ form }}</table>
        <br>
        <button>Submit</button>
    </form>
    <br>
    <hr class="dotted">
    <br>
    <p>All customers:</p>
    <div id="display_table">
        <table class='table'>
            <thead>
            <tr>
                <th>Name</th>
                <th>In use</th>
            </tr>
            </thead>
            {% for instance in queryset %}
                <tr>
                    <td><a href="{% url 'update_customer' instance.customer_id %}"</a>{{ instance.customer_name }}</td>
                    <td>{{ instance.in_use }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <br>
{% endblock %}