{% extends 'main.html' %}

{% block content %}
    <p>Create new type:</p>
    <form method="POST" action="{% url 'hardware_types' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <table>{{ form }}</table>
        <br>
        <button>Submit</button>
    </form>
    <br>
    <hr class="dotted">
    <br>
    <p>Current hardware types:</p>
    <div id="display_table">
        <table class='table'>
            <thead>
            <tr>
                <th>Type</th>
                <th>In use</th>
            </tr>
            </thead>
            {% for instance in queryset %}
                <tr>
                    <td><a href="{% url 'update_hardwaretype' instance.hardware_id %}">{{ instance.type_desc }}</a></td>
                    <td>{{ instance.in_use }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <br>
{% endblock %}