{% extends 'main.html' %}

{% block content %}
    <p>Add new item for hardware: {{ hardware.hardware_type }} </p>
    <form method="POST" action="{% url 'items_for_hardwware' hardware.hardware_id %}" enctype="multipart/form-data">
        {% csrf_token %}
        <table>{{ form }}</table>
        <br>
        <button>Submit</button>
    </form>
    <br>
    <hr class="dotted">
    <br>
    <p>Items for hardware:</p>
    <div id="display_table">
        <table class='table'>
            <thead>
            <tr>
                <th>Hardware type</th>
                <th>Item</th>
                <th>Quantity</th>
            </tr>
            </thead>
            {% for instance in queryset %}
                <tr>
                    <td>{{ instance.hardware_type }}</td>
                    <td>{{ instance.item }}</td>
                    <td>{{ instance.quantity }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <br>
{% endblock %}