{% extends 'main.html' %}

{% block content %}
    <p>Form for unload new hardware.</p>
    <br>
    <form method="POST" action="{% url 'unload' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <button>Submit</button>
    </form>
    <br>
    <hr class="dotted">
    <br>
    <div id="display_table">
        <table class='table'>
            <thead>
            <tr>
                <th>MAC</th>
                <th>Type</th>
                <th>Location</th>
                <th>Order</th>
                <th>In use</th>
            </tr>
            </thead>
            {% for instance in queryset %}
                <tr>
                    <td><a href="{% url 'update_hardware' instance.id %}">{{ instance.mac }}</a></td>
                    <td>{{ instance.type }}</td>
                    <td>{{ instance.location }}</td>
                    <td>{{ instance.order }}</td>
                    <td>{{ instance.in_use }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <br>
{% endblock %}